<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Website</title>
    </head>

    <body>
        <p>5 * 6</p>
        <!-- Here the content between the tags is just text so it will present as it is. -->
        <p>{{5 * 6}}</p>
        <!-- But here the content in between the brackets is considered to be code and so it calculates the code and then prints the result -->
        <p>Random Number: {{rand}}</p>

    </body>
    <footer>
        <p>Copyright {{year}}. All rights reserved.</p>
    </footer>

</html>
